<template>
<transition>
  <div :class="['notification', type ? `is-${type}` : '']" v-if="show">
    <button class="delete" @click="closedByUser()"></button>
    <div class="title is-5" v-if="title">{{ title }}</div>
    {{ message }}
  </div>
</transition>
</template>

<script>
import Vue from 'vue'

export default {

  props: {
    type: String,
    title: String,
    message: String,
    direction: {
      type: String,
      default: 'Right'
    },
    duration: {
      type: Number,
      default: 4500
    },
    container: {
      type: String,
      default: '.notifications'
    }
  },

  data () {
    return {
      show: true
    }
  },
  methods: {
    closedByUser () {
       this.$emit('closed-by-user')
       clearTimeout(this.timer)
       this.show = false
    },

    close () {
      this.$emit('closed-automatically')
      clearTimeout(this.timer)
      this.show = false
    }
  },
  beforeMount () {
    let parent
    parent = document.querySelector(`.notifications.${this.placement}`)

    if (!parent) {
      parent = document.createElement('div')
      parent.classList.add('notifications', this.placement)
      document.body.appendChild(parent)
    }
    parent.appendChild(this.$el)
  },
  mounted () {
    this.isShow = true
    this.timer = setTimeout(() => this.close(), this.duration)
  },
  destroyed () {
    this.$el.remove()
  }
}
</script>

<style lang="stylus">
.notifications
  position: fixed
  top: 50px
  right: 0
  z-index: (1024 + 233)
  pointer-events: none
  .notification
    margin: 20px
    position: relative
    min-width: 240px
    backface-visibility: hidden
    transform: translate3d(0, 0, 0)
    pointer-events: all
</style>
