<template>
<span class="icon" :class="classes">
  <i :class="types">
    <slot></slot>
  </i>
</span>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      validator: value => ['small', 'medium', 'large'].includes(value)
    },
    type: {
      type: String
    }
  },

  computed: {
    classes () {
      const { size } = this
      const obj = {
        [`is-${size}`]: !!size
      }
      return obj
    },
    types () {
      const { type } = this
      const obj = {
        'fa': true,
        [`fa-${type}`]: true
      }
      return obj
    }
  }
}
</script>
