<template>
  <label class="switch-wrap" @click.prevent="toggle" :class="[{'is-disabled': disabled}, sizeClass]">
    <input type="checkbox" style="display: none" :checked="on" :name="name">
    <span class="switchery" :class="[{'on': on}, typeClass, sizeClass, {'has-text': hasText}]">
      <small class="switcher"></small>
      <span class="text">{{ showText }}</span>
    </span>
  </label>
</template>
<script>
export default {
  props: {
    type: {
      type: String,
      default: 'success'
    },
    size: String,
    onText: String,
    offText: String,
    checked: Boolean,
    disabled: Boolean,
    value: {},
    name: String,
    onChange: {
      type: Function,
      default () {}
    }
  },
  data () {
    return {
      on: false,
      showText: ''
    }
  },
  computed: {
    typeClass () {
      return this.type ? `is-${this.type}` : 'is-success'
    },
    sizeClass () {
      return this.size ? `is-${this.size}` : null
    },
    hasText () {
      return this.onText || this.offText
    }
  },
  methods: {
    toggle () {
      this.on = !this.on
      this.showText = this.on ? this.onText : this.offText
      this.$emit('input', this.on)
      this.onChange(this.on)
    }
  },
  mounted () {
    if (this.checked || this.value) {
      this.on = true
      this.showText = this.onText
    } else {
      this.showText = this.offText
    }
  }
}
</script>

<style lang="stylus">
@import '../variables'

bbb(color)
  background-color: color
  border-color: color
  box-shadow: color 0px 0px 0px 12px inset

.switch-wrap
  position: relative
  display: inline-block
  padding-left: 60px
  min-height: 20px
  &.is-small
    padding-left: 48px
    .switchery
      width: 40px
      height: 18px
      & > small
        width: 18px
        height: 18px
      &.on
        & > small
          left: 22px
    .text
      margin-left: 22px
.switchery
  position: absolute
  left: 0
  margin-top: -2px
  border: 1px solid #ddd
  border-radius: 100px
  cursor: pointer
  display: inline-block
  width: 48px
  height: 22px
  transition: border .4s, box-shadow .4s
  background-color: rgb(255, 255, 255)
  border-color: rgb(233, 233, 233)
  box-shadow: rgb(233, 233, 233) 0px 0px 0px 0px inset
  box-sizing: content-box
  &.has-text
    width: 56px
    &.on
      & > small
        left: 34px
  .text
    user-select: none
    font-size: 13px
    color: #999
    margin-left: 25px
  & > small
    position: absolute
    top: 0
    left: 0
    width: 22px
    transition: background-color 0.4s, left 0.2s
    border-radius: 100px
    background-color: #fff
    height: 22px
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
  &.on
    background-color: $primary
    border-color: $primary
    box-shadow: $primary 0px 0px 0px 12px inset
    transition: border 0.4s, box-shadow 0.4s, background-color 1.2s
    & > small
      left: 26px
    .text
      text-align: right
      margin-left: 5px
      color: #fff
  &.is-info
    &.on
      bbb($info)
  &.is-success
    &.on
      bbb($success)
  &.is-warning
    &.on
      bbb($warning)
  &.is-danger
    &.on
      bbb($danger)
</style>
