<template>
<span class="tag" :class="classes">
  <slot></slot>
  <button class="delete" :class="delClass" v-if="closable"></button>
</span>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      validator: value => ['primary', 'info', 'success', 'warning', 'danger', 'white', 'light', 'dark', 'black'].includes(value)
    },
    size: {
      type: String,
      validator: value => ['medium', 'large'].includes(value)
    },
    closable: Boolean
  },

  computed: {
    classes () {
      const { type, size } = this
      const obj = {
        [`is-${type}`]: !!type,
        [`is-${size}`]: !!size
      }
      return  obj
    },
    delClass () {
      return this.size === 'large' ? '' : 'is-small'
    }
  }
}
</script>
