<script>
export default {
  props: {
    element: {
      type: String,
      default: 'nav',
      validator: value => ['nav', 'div'].includes(value)
    }
  },

  render (createElement) {
    const { element } = this
    const items = []
    const lItems = []
    const rItems = []

    if (this.$slots.left) {
      this.$slots.left.map(function (node) {
        lItems.push(node.children)
      })

      items.push(createElement('div', { 'class': 'level-left' }, lItems))
    }

    items.push(this.$slots.default)

    if (this.$slots.right) {
      this.$slots.right.map(function (node) {
        rItems.push(node.children)
      })

      items.push(createElement('div', { 'class': 'level-right' }, rItems))
    }

    return createElement(element, { 'class': 'level' }, items)
  }
}
</script>

<style lang="stylus">
.level-item
  align-items: center
  display: flex
  -ms-flex-preferred-size: auto
  flex-basis: auto
  flex-grow: 0
  flex-shrink: 0
  justify-content: center
</style>
