@charset "utf-8"

@import '~open-color/open-color'

$orange: $oc-orange-7
$yellow: $oc-yellow-4
$green: $oc-green-6
$turquoise: #3F729B
$blue: $oc-blue-6
$purple: $oc-violet-4
$red: $oc-red-6

@import '~bulma/bulma.sass'

////////////////////////////////////////////////
////////////////////////////////////////////////
// Primary background colors

.bg-is-primary
  background-color: $primary

.bg-is-info
  background-color: $info
.bg-is-success
  background-color: $success
.bg-is-warning
  background-color: $warning
.bg-is-danger
  background-color: $danger

.bg-is-light
  background-color: $light
.bg-is-dark
  background-color: $dark
